.header {
    width: 100%;
    padding: 48px 0 40px 16px;
    background: $primary-bg;
    .container-default {
        padding: 0 0 0 49px;
        .logo-header {
            float: left;
            width: 152px;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        .nav-main {
            float: right;
        }
    }
}