//Typography
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

//Colors
$primary-bg: #edeff1;
$secondary-bg: #d75d0e;
$danger-bg: #dd4b2b;
$dark-bg: #4b4e73;
$light-bg: white;
$light-grey-bg: #bdbdbd;

$primary-color: white;
$secondary-color: #31353e;
$dark-color: #191b29;

$dark-color-btn: #4e5159;
$warm-color-btn: #612316;



