.heading-banner {
    h1 {
        font: 300 72px/0.67 $secondary-font;
    }
    p {
        font: 700 30px/1.6 $secondary-font;
    }
}

.banner-section .card {
    font: 300 15px/2 $primary-font;
    a {
        font: 700 30px/1.6 $secondary-font;
    }
}

.section-news {
    h2 {
        font: 700 30px/1.6 $secondary-font;
    }
    .post-item h3 {
        font: 700 24px/1.6 $secondary-font;
    }
}

.inform-section {
    h2 {
        font: 700 30px/1 $secondary-font;
    }
}

.product-item h3 {
    font: 700 30px/1.6 $secondary-font;
}

.team h2 {
    font: 700 30px/1.6 $secondary-font;
}


.main-title {
    font-size: 35px;
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
}